# Part 2 (25 points)

### Just a means to import your train, dev.in files

In [1]:
# from google.colab import drive

# drive.mount('/content/gdrive/')

### Get necessary library imports

In [2]:
import pandas as pd 
import numpy as np
import itertools

### Establish which language folder you are using

In [3]:
filepath = 'EN'
# filepath = 'SG'
# filepath = 'CN'
# filepath = 'AL'

### Setting up our training data to be used

In [4]:
#Assign Column names
colnames=['word', 'tag'] 

#Import the dataset without blank lines
df  = pd.read_csv(f"{filepath}/train", sep=" ", names=colnames, header=None)
df.dropna(inplace=True)
df

             word     tag
0       Municipal    B-NP
1           bonds    I-NP
2             are    B-VP
3       generally  B-ADVP
4               a  B-ADJP
...           ...     ...
181623   resolved    I-VP
181624         in    B-PP
181625        the    B-NP
181626       West    I-NP
181627        ...       O

[181628 rows x 2 columns]

### Find the total counts of each unique word and tag pair

In [5]:
#Find the word count for a given tag
word_tag_count = df.groupby(['word','tag']).size().to_frame('count').reset_index()
word_tag_count

            word     tag  count
0              !       O     15
1              #  B-ADJP      3
2              #    B-NP     20
3              #    I-NP     10
4              #       O      1
...          ...     ...    ...
25046  zestfully    B-VP      1
25047    zigzags    I-NP      1
25048        zip    I-NP      1
25049      zones    I-NP      2
25050       zoom    I-VP      1

[25051 rows x 3 columns]

### Get the total counts of each word

In [6]:
#Find the count for each word
word_count = df.groupby('word').size().to_frame('count').reset_index()
word_count

            word  count
0              !     15
1              #     34
2              $   1476
3              %   1030
4              &    171
...          ...    ...
18207  zestfully      1
18208    zigzags      1
18209        zip      1
18210      zones      2
18211       zoom      1

[18212 rows x 2 columns]

### First we filter out words appearing less than k times, then we smooth by replacing the words with #UNK#

In [7]:
#Filter out words with count less than k
k = 3
word_count = word_count.drop(word_count[word_count['count'] < k].index)
word_count

          word  count
0            !     15
1            #     34
2            $   1476
3            %   1030
4            &    171
...        ...    ...
18194   yields     25
18195      you    137
18196    young     17
18197  younger      9
18199     your     40

[6186 rows x 2 columns]

In [8]:
#Replace words that appear less than k times with #UNK#
cols = [col for col in word_tag_count.columns if col == 'word']
word_tag_count.loc[~word_tag_count['word'].isin(word_count['word']), cols ] = '#UNK#'
word_tag_count

        word     tag  count
0          !       O     15
1          #  B-ADJP      3
2          #    B-NP     20
3          #    I-NP     10
4          #       O      1
...      ...     ...    ...
25046  #UNK#    B-VP      1
25047  #UNK#    I-NP      1
25048  #UNK#    I-NP      1
25049  #UNK#    I-NP      2
25050  #UNK#    I-VP      1

[25051 rows x 3 columns]

In [9]:
#Combine all the #UNK# for a given tag
word_tag_count = word_tag_count.groupby(['word','tag'])['count'].sum().to_frame().reset_index()
word_tag_count

          word     tag  count
0            !       O     15
1            #  B-ADJP      3
2            #    B-NP     20
3            #    I-NP     10
4            #       O      1
...        ...     ...    ...
12166    young    I-NP      7
12167  younger    B-NP      4
12168  younger    I-NP      5
12169     your    B-NP     38
12170     your    I-NP      2

[12171 rows x 3 columns]

### Find total counts of each tag

In [10]:
#Find the total count for a given tag
tag_count = word_tag_count.groupby('tag')['count'].sum().to_frame().reset_index()
tag_count

        tag  count
0    B-ADJP   1751
1    B-ADVP   3565
2   B-CONJP     49
3    B-INTJ     26
4     B-LST     11
5      B-NP  47305
6      B-PP  18387
7     B-PRT    468
8    B-SBAR   1899
9     B-UCP      1
10     B-VP  18261
11   I-ADJP    574
12   I-ADVP    363
13  I-CONJP     64
14   I-INTJ      7
15     I-NP  54591
16     I-PP    223
17   I-SBAR     48
18    I-UCP      4
19     I-VP  10159
20        O  23872

### Our function for finding the emission

In [11]:
#Fucntion to find the emission value of a word for a given tag
def find_emission(tag, w_count):
    return w_count/(tag_count.loc[tag_count['tag'] == tag]['count'])

In [12]:
#Find emission parameters
word_tag_count['e'] = np.vectorize(find_emission)(word_tag_count['tag'].values, word_tag_count['count'].values)
# word_tag_count.to_csv('emission.csv', header = True)
word_tag_count

          word     tag  count         e
0            !       O     15  0.000628
1            #  B-ADJP      3  0.001713
2            #    B-NP     20  0.000423
3            #    I-NP     10  0.000183
4            #       O      1  0.000042
...        ...     ...    ...       ...
12166    young    I-NP      7  0.000128
12167  younger    B-NP      4  0.000085
12168  younger    I-NP      5  0.000092
12169     your    B-NP     38  0.000803
12170     your    I-NP      2  0.000037

[12171 rows x 4 columns]

### Read and open up our dev.in file

In [13]:
#Read the test dataset
f = open(f"{filepath}/dev.in", "r")
f_list = f.read().splitlines()
f_list

['HBO',
 'has',
 'close',
 'to',
 '24',
 'million',
 'subscribers',
 'to',
 'its',
 'HBO',
 'and',
 'Cinemax',
 'networks',
 ',',
 'while',
 'Showtime',
 'and',
 'its',
 'sister',
 'service',
 ',',
 'The',
 'Movie',
 'Channel',
 ',',
 'have',
 'only',
 'about',
 '10',
 'million',
 ',',
 'according',
 'to',
 'Paul',
 'Kagan',
 'Associates',
 ',',
 'a',
 'Carmel',
 ',',
 'Calif.',
 ',',
 'research',
 'firm',
 '.',
 '',
 'WASHINGTON',
 'LIES',
 'LOW',
 'after',
 'the',
 'stock',
 'market',
 "'s",
 'roller-coaster',
 'ride',
 '.',
 '',
 'This',
 'may',
 'seem',
 'to',
 'be',
 'a',
 'preposterous',
 'and',
 'utterly',
 'futile',
 'effort',
 'in',
 'Africa',
 '.',
 '',
 'American',
 'Express',
 'Bank',
 'earnings',
 'fell',
 '50',
 '%',
 'to',
 '$',
 '21.3',
 'million',
 'from',
 '$',
 '42.5',
 'million',
 'despite',
 'a',
 '29',
 '%',
 'revenue',
 'gain',
 '.',
 '',
 'Californians',
 ',',
 'meanwhile',
 ',',
 'tried',
 'to',
 'cope',
 'with',
 'still-limited',
 'services',
 ',',
 'blocked',
 'roadways',
 'and',
 'water',
 'shortages',
 'in',
 'the',
 'aftermath',
 'of',
 'the',
 'tremor',
 'that',
 'left',
 'scores',
 'dead',
 'and',
 'injured',
 '.',
 '',
 'This',
 'year',
 ',',
 'a',
 'number',
 'of',
 'retail',
 'leveraged',
 'buyouts',
 'have',
 'failed',
 ',',
 'causing',
 'jitters',
 'among',
 'suppliers',
 ',',
 'and',
 'Mr.',
 'Merksamer',
 'apparently',
 'wanted',
 'assurances',
 'that',
 'he',
 'wo',
 "n't",
 'have',
 'delivery',
 'problems',
 '.',
 '',
 'Mr.',
 'Juliano',
 'thinks',
 'so',
 '.',
 '',
 'Assistant',
 'U.S.',
 'Attorney',
 'Terry',
 'Hart',
 'of',
 'Dallas',
 'says',
 'the',
 'government',
 'will',
 'oppose',
 'any',
 'efforts',
 'to',
 'bring',
 'in',
 'a',
 'new',
 'defense',
 'team',
 'because',
 'it',
 'would',
 'delay',
 'a',
 'retrial',
 '.',
 '',
 'Galveston-Houston',
 'Co.',
 'said',
 'it',
 'will',
 'redeem',
 'all',
 '3,950',
 'shares',
 'of',
 'its',
 'privately',
 'held',
 '6.5',
 '%',
 'convertible',
 'Series',
 'C',
 'preferred',
 'stock',
 'Nov.',
 '8',
 '.',
 '',
 'On',
 'a',
 '$',
 '10,000',
 'investment',
 ',',
 'that',
 "'s",
 'a',
 'difference',
 'of',
 'only',
 '$',
 '50',
 'a',
 'year',
 '.',
 '',
 'Neither',
 'the',
 'Amoco',
 'agreement',
 'nor',
 'the',
 'wells',
 'existed',
 ',',
 'the',
 'suit',
 'alleged',
 '.',
 '',
 'But',
 'for',
 'individuals',
 'who',
 'buy',
 'much',
 'smaller',
 'amounts',
 'and',
 'care',
 'less',
 'about',
 'relative',
 'performance',
 'than',
 'in',
 'preserving',
 'what',
 'they',
 'have',
 ',',
 'that',
 'margin',
 'is',
 'meaningless',
 '.',
 '',
 'The',
 'authorities',
 'have',
 'steered',
 'foreign',
 'reporters',
 'to',
 'her',
 'office',
 'to',
 'see',
 'an',
 'example',
 'of',
 '``',
 'the',
 'new',
 'way',
 'of',
 'thinking',
 '.',
 "''",
 '',
 'That',
 "'s",
 'because',
 'computers',
 'do',
 'most',
 'of',
 'the',
 'work',
 ',',
 'and',
 'low',
 'trading',
 'activity',
 'keeps',
 'a',
 'lid',
 'on',
 'commission',
 'costs',
 '.',
 '',
 'Mr.',
 'Pinola',
 'is',
 'president',
 'and',
 'chief',
 'operating',
 'officer',
 'of',
 'Penn',
 'Mutual',
 'Life',
 'Insurance',
 'Co',
 '.',
 '',
 'John',
 'Uphoff',
 ',',
 'an',
 'analyst',
 'with',
 'Raymond',
 'James',
 '&',
 'Associates',
 ',',
 'said',
 'the',
 'results',
 'were',
 "n't",
 'surprising',
 ',',
 'and',
 'attributed',
 'the',
 'buy-back',
 'to',
 'management',
 "'s",
 'confidence',
 'in',
 'the',
 'Mirage',
 "'s",
 'ability',
 'to',
 'generate',
 'strong',
 'cash',
 'flow',
 'in',
 '1990',
 '.',
 '',
 'Raymond',
 'James',
 '&',
 'Associates',
 'in',
 'St.',
 'Petersburg',
 ',',
 'Fla.',
 ',',
 'lowered',
 'its',
 'third-quarter',
 'earnings',
 'estimate',
 'for',
 'the',
 'company',
 ',',
 'according',
 'to',
 'Dow',
 'Jones',
 'Professional',
 'Investor',
 'Report',
 '.',
 '',
 'Osborn',
 'also',
 'operates',
 'Muzak',
 'franchises',
 ',',
 'entertainment',
 'properties',
 'and',
 'small',
 'cable-television',
 'systems',
 '.',
 '',
 'Digital',
 ',',
 'based',
 'in',
 'Maynard',
 ',',
 'Mass.',
 ',',
 'hopes',
 'to',
 'stage',
 'a',
 'repeat',
 'performance',
 'in',
 'mainframes',
 ',',
 'and',
 'it',
 'has',
 'spent',
 'almost',
 '$',
 '1',
 'billion',
 'developing',
 'the',
 'new',
 'technology',
 '.',
 '',
 'He',
 'also',
 'says',
 'CompuServe',
 "'s",
 'earnings',
 'continue',
 'to',
 'grow',
 '``',
 '20',
 '%',
 'to',
 '30',
 '%',
 'a',
 'year',
 "''",
 'in',
 'spite',
 'of',
 'tough',
 'competition',
 'from',
 'giants',
 'like',
 'Sears',
 'and',
 'IBM',
 '.',
 '',
 'The',
 'Treasury',
 'plans',
 'to',
 'raise',
 '$',
 '1.55',
 'billion',
 'in',
 'new',
 'cash',
 'with',
 'the',
 'sale',
 'Monday',
 'of',
 'about',
 '$',
 '15.6',
 'billion',
 'in',
 'short-term',
 'bills',
 'to',
 'redeem',
 '$',
 '14.1',
 'billion',
 'in',
 'maturing',
 'bills',
 '.',
 '',
 'Stocks',
 'retreated',
 'to',
 'session',
 'lows',
 'just',
 'after',
 'the',
 'opening',
 'amid',
 'worries',
 'about',
 'the',
 'market',
 'impact',
 'of',
 'the',
 'quake',
 ',',
 'but',
 'quickly',
 'snapped',
 'back',
 'to',
 'higher',
 'levels',
 'with',
 'the',
 'help',
 'of',
 'futures-related',
 'program',
 'buying',
 '.',
 '',
 'There',
 'is',
 'no',
 'small',
 'irony',
 'in',
 'the',
 'fact',
 'that',
 'some',
 'of',
 'the',
 'most-jingoistic',
 'advertising',
 'comes',
 'courtesy',
 'of',
 '--',
 'you',
 'guessed',
 'it',
 '--',
 'outsiders',
 '.',
 '',
 'The',
 'Federal',
 'Election',
 'Commission',
 'clears',
 'corporate',
 'plans',
 'to',
 'donate',
 'to',
 'an',
 'employee',
 "'s",
 'chosen',
 'charity',
 'in',
 'exchange',
 'for',
 'the',
 'worker',
 "'s",
 'gift',
 'to',
 'the',
 'company',
 'political',
 'action',
 'committee',
 '.',
 '',
 'The',
 'method',
 'of',
 'calculating',
 'the',
 '20',
 '%',
 'tax',
 ',',
 'paid',
 'if',
 'it',
 'exceeds',
 'tax',
 'figured',
 'the',
 'regular',
 'way',
 ',',
 'is',
 'due',
 'for',
 'a',
 'change',
 'in',
 '1990',
 ',',
 'thanks',
 'to',
 '1986',
 "'s",
 'tax',
 'act',
 '.',
 '',
 'I',
 'expected',
 'him',
 'to',
 'say',
 ',',
 '``',
 'I',
 'told',
 'you',
 'so',
 ',',
 "''",
 'but',
 'he',
 'already',
 'was',
 'snoring',
 '.',
 '',
 'Although',
 'the',
 'East',
 'German',
 'news',
 'agency',
 'ADN',
 'claimed',
 'Mr.',
 'Honecker',
 'had',
 'asked',
 'to',
 'be',
 'relieved',
 'of',
 'his',
 'duties',
 'for',
 '``',
 'health',
 'reasons',
 ',',
 "''",
 'West',
 'German',
 'government',
 'sources',
 'said',
 'the',
 '26-man',
 'Politburo',
 'had',
 'asked',
 'for',
 'his',
 'resignation',
 'at',
 'a',
 'separate',
 'meeting',
 'late',
 'Tuesday',
 '.',
 '',
 'During',
 'the',
 'quarter',
 ',',
 'Pfizer',
 'received',
 'federal',
 'approval',
 'of',
 'Procardia',
 'XL',
 ',',
 'a',
 'calcium',
 'channel',
 'blocker',
 'approved',
 'for',
 'both',
 'angina',
 'and',
 'hypertension',
 ',',
 'and',
 'Monorail',
 'Piccolino',
 ',',
 'used',
 'to',
 'open',
 'obstructed',
 'coronary',
 'arteries',
 '.',
 '',
 'We',
 'do',
 "n't",
 'want',
 'to',
 'be',
 'party',
 'to',
 'a',
 'second',
 'rejection',
 ',',
 "''",
 'he',
 'said',
 ',',
 'adding',
 'that',
 'coming',
 'up',
 'with',
 'a',
 'revised',
 'offer',
 'could',
 'easily',
 'take',
 'several',
 'weeks',
 '.',
 '',
 'Law-enforcement',
 'authorities',
 'say',
 'that',
 'at',
 'any',
 'given',
 'time',
 ',',
 'a',
 'host',
 'of',
 'fraudulent',
 'telemarketing',
 'operations',
 'mingle',
 'with',
 'the',
 'many',
 'legitimate',
 'businesses',
 'here',
 '.',
 '',
 'The',
 'percentage',
 'rates',
 'are',
 'calculated',
 'on',
 'a',
 '360-day',
 'year',
 ',',
 'while',
 'the',
 'coupon-equivalent',
 'yield',
 'is',
 'based',
 'on',
 'a',
 '365-day',
 'year',
 '.',
 '',
 'Neither',
 'was',
 'among',
 'the',
 '46',
 'traders',
 'indicted',
 'last',
 'August',
 'in',
 'a',
 'federal',
 'investigation',
 'of',
 'traders',
 'at',
 'both',
 'the',
 'Merc',
 'and',
 'the',
 'Chicago',
 'Board',
 'of',
 'Trade',
 '.',
 '',
 'A',
 'spokesman',
 'for',
 'Dean',
 'Witter',
 ',',
 'a',
 'unit',
 'of',
 'Sears',
 ',',
 'Roebuck',
 '&',
 'Co.',
 ',',
 'declined',
 'to',
 'comment',
 '.',
 '',
 '``',
 'By',
 'populating',
 'a',
 'place',
 'now',
 ',',
 'we',
 'make',
 'ourselves',
 'a',
 'power',
 'any',
 'new',
 'government',
 'will',
 'have',
 'to',
 'take',
 'into',
 'account',
 '.',
 "''",
 '',
 'Also',
 ',',
 'profit',
 'rose',
 '19',
 '%',
 'in',
 'the',
 'third',
 'quarter',
 '.',
 '',
 'Two',
 'election',
 'commission',
 'members',
 'opposed',
 'the',
 'matching',
 'plans',
 '.',
 '',
 'An',
 'accelerating',
 'move',
 'by',
 'personal',
 'computer',
 'manufacturers',
 "'",
 'to',
 'include',
 'advanced',
 'graphics',
 'capabilities',
 'as',
 'standard',
 'equipment',
 'further',
 'dampened',
 'reseller',
 'purchases',
 'of',
 'Western',
 'Digital',
 "'s",
 'equipment',
 '.',
 '',
 'When',
 'the',
 'IAFP',
 'recently',
 'assembled',
 'other',
 'industry',
 'groups',
 'to',
 'discuss',
 'common',
 'standards',
 'that',
 'might',
 'be',
 'applied',
 'to',
 'planners',
 ',',
 'Mr.',
 'Gargan',
 "'s",
 'group',
 'was',
 'excluded',
 '.',
 '',
 'Mr.',
 'Peake',
 'is',
 'chairman',
 'of',
 'his',
 'own',
 'consulting',
 'company',
 'in',
 'Englewood',
 ',',
 'N.J',
 '.',
 '',
 'CALL',
 'MONEY',
 ':',
 '9',
 '3\\/4',
 '%',
 'to',
 '10',
 '%',
 '.',
 '',
 'The',
 'forces',
 'at',
 'work',
 'included',
 'computer-guided',
 'trading',
 ',',
 'as',
 'well',
 'as',
 ...]

### Assign tags to each of the words in our dev.in data, and output the result in dev.p2.out file

In [14]:
# Do a sentiment analysis and save it in a dev.p2.out file
df_unk = df_temp = word_tag_count[word_tag_count['word'] == '#UNK#']
unk_label = df_unk.loc[df_unk['e'].idxmax()]['tag']
l_count = 0
l_len = len(f_list)
with open(f"{filepath}/dev.p2.out", 'w') as out:
    l_count += 1
    for i in f_list:
        temp = ''
        if i != '':
            df_temp = word_tag_count[word_tag_count['word'] == i]
            if len(df_temp) > 0:
                temp = i + ' ' + df_temp.loc[df_temp['e'].idxmax()]['tag']
            else:
                temp = i + ' ' + unk_label
        else:
            temp = '\n'
            
        #writing to output file
        if l_count != l_len and temp != '\n':
            out.write("%s\n" % temp)
        else:
            out.write(temp)